name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Generate snake (dark)
        uses: Platane/snk@v3
        with:
          github_user_name: tariky-campos
          outputs: |
            dist/snake.svg
        env:
          SNAKE_COLOR_DOTS: "#39d353,#26a641,#006d32"
          SNAKE_COLOR_SNAKE: "#9be9a8"
          SNAKE_COLOR_BG: "#0d1117"

      - name: Push snake to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
